NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb://fypdatabase2:OycDruAM9qRem63tDUgmhZdkLGNCS2DZDpJUIvjVKhahli2tZ9osoZKSZ2qFaqaW39ApdD0QRoiEACDbaoCrxw%3D%3D@fypdatabase2.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000
JWT_SECRET=your-secret-key-min-32-chars-change-in-production
JWT_EXPIRY=24h
FRONTEND_URL=http://localhost:5173
LOG_LEVEL=debug

AZURE_COMMUNICATION_SERVICE_CONNECTION_STRING=endpoint=https://4117.japan.communication.azure.com/;accesskey=79SmnmQ6qR4BbU1kk1XxXr6BqkwBHWcdRMty5grsJfO8EBnA7gp6JQQJ99CAACULyCpZiLXsAAAAAZCSmFn0
SENDER_EMAIL=DoNotReply@0fab96f9-111a-4ac1-8f46-da6c77b9a158.azurecomm.net

